.footer {
    background-color: #fff;
    box-shadow: 0px 4px 36.8px 0px rgba(0, 0, 0, 0.05);
    padding: 3rem 0;

    &__logo {
        width: 6.2rem;
        display: block;
        margin: 0 auto 3rem;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__title {
        color: #000;
        text-align: center;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 121%;
        margin-bottom: 0.5rem;
    }

    &__email {
        color: #07C2B9;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        display: block;
        margin-bottom: 3rem;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.7rem;
        margin-bottom: 3rem;

        a {
            display: flex;
            width: 3rem;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &__text {
        display: grid;
        gap: 2rem;
        color: rgba(0, 0, 0, 0.44);
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 1.8rem;

        strong {
            font-weight: 700;
        }

        p {
            padding-left: 1.3rem;
            border-left: 0.1rem solid rgba(0, 0, 0, 0.24);
        }
    }

    &__copyright {
        border-radius: 1.6rem;
        background: #F7F8FA;
        padding: 1rem;
        color: #8F8F8F;
        text-align: center;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
    }
}

@media (max-width: 767px) {
    .footer {
        &__menu {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 5rem 0 3.2rem;

        &__logo {
            display: none;
        }

        &__title {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        &__email {
            font-size: 1.6rem;
            color: #282828;
            transition: color 0.3s;
            margin-bottom: 3.8rem;

            &:hover {
                color: #07C2B9;
            }
        }

        &__menu {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5.8rem;
            margin-bottom: 3.8rem;
            color: #282828;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;


            a {
                transition: color 0.3s;

                &:hover {
                    color: #07C2B9;
                }
            }
        }

        &__socials {
            margin-bottom: 3.8rem;
        }

        &__text {
            grid-template-columns: repeat(2, 1fr);
            gap: 4.5rem;

            strong {
                font-weight: 400;
            }
        }
    }
}