.banner {
    position: relative;

    &__inner {
        padding: 0 4.583vw;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 19.096vw;
        overflow: hidden;
        border-radius: 1.389vw;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/assets/main_banner_2.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--style-1 {
        .banner__bg {
            background-image: none;

            img {
                display: block;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__title {
        color: #FFF;
        font-size: 1.875vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 1.389vw;
        max-width: unset;

        strong {
            background: linear-gradient(90deg, #9A885D -2.39%, #FFEEB4 71.51%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__text {
        color: #757575;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
    }

    &__button {
        width: 19.583vw;
        height: 5.902vw;
        background-color: #fff;
        border-radius: 1.111vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.694vw;
        color: #282828;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        position: relative;
        z-index: 1;
        animation: pulseAnimation 1.5s infinite;

        svg {
            width: 1.667vw;
            height: auto;
        }
    }

    &--style-1 {
        padding-top: 3.472vw;

        &::before {
            content: '';
            position: absolute;
            bottom: calc(100% + 2.778vw);
            right: -27.569vw;
            width: 70.764vw;
            height: 39.164vw;
            border-radius: 70.764vw;
            background: rgba(76, 221, 212, 0.26);
            filter: blur(150px);
            transform: translateZ(0);
        }
    }

    &--style-2 {
        padding-top: 2.778vw;
        padding-bottom: 10.416vw;

        .banner {
            &__content {
                max-width: 30.139vw;
            }
        }
    }
}

@media (max-width: 1023px) {
    .banner {

        &__inner {
            padding: 0;
            padding-left: 2.25vw;
            min-height: 50vw;
            border-radius: 3.3vw;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
        }

        &__title {
            font-size: 4vw;
            margin-bottom: 2vw;
        }

        &__text {
            font-size: 2.4vw;
        }

        &__button {
            width: 36vw;
            height: 10vw;
            border-radius: 2vw;
            gap: 1vw;
            font-size: 2vw;

            svg {
                width: 3.2vw;
            }
        }

        &--style-1 {
            padding-top: 0;

            &::before {
                display: none;
            }
        }

        &--style-2 {
            padding-top: 53px;
            padding-bottom: 53px;

            .banner {

                &__title {
                    font-size: 3.6vw;
                }

                &__content {
                    max-width: 579px;
                }

                &__text {
                    font-size: 2vw;
                    width: 80%
                }
            }
        }
    }
}

@media (max-width: 840px) {
    html[lang="ru"] .banner {
        &--style-2 {
            .banner {
                &__text {
                    width: 56vw;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .banner {
        &__inner {
            padding-left: 5.5vw;
            padding-right: 5.5vw;
            min-height: 128vw;
        }

        &--style-1, &--style-2 {
            .banner {
                &__title {
                    display: none;
                }
        
                &__text {
                    display: none;
                }

                &__button {
                    animation: none;
                    width: 100%;
                    font-size: 4vw;
                    border-radius: 4vw;
                    height: 15vw;
                    margin-top: 80vw;
                    gap: 2vw;

                    svg {
                        width: 6.2vw;
                    }
                }
            }
        }

        &--style-2 {
            padding-top: 3vw;
        }
    }
}