@use '../components/form.scss';

.career-form {
    padding: 10.416vw 0;
    position: relative;

    &__decor {
        position: absolute;
        top: -2.778vw;
        left: 13.889vw;
        width: 47.153vw;
        height: auto;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.778vw;
    }

    &__row {
        display: grid;
        grid-template-columns: 44.722vw 1fr;
        border-radius: 1.389vw;
        overflow: hidden;
    }

    &__scheme {
        background-image: url(/images/webp/step-bg-d.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 11.111vw 4.722vw;
        border-radius: 0;
        display: flex;
        align-items: center;
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 1.389vw;
        position: relative;

        &:not(:last-child) {
            padding-bottom: 3.993vw;
        }

        &:nth-child(1) {
            &::after {
                content: '';
                position: absolute;
                bottom: -0.278vw;
                left: 1.458vw;
                height: 4.583vw;
                width: 0.208vw;
                background-color: #fff;
            }
        }

        &:nth-child(2) {
            &::after {
                content: '';
                position: absolute;
                bottom: -0.278vw;
                left: 1.458vw;
                height: 4.583vw;
                width: 0.208vw;
                background-color: #fff;
            }
        }

        &:nth-child(3) {
            &::after {
                content: '';
                position: absolute;
                bottom: -0.278vw;
                left: 1.458vw;
                height: 4.583vw;
                width: 0.208vw;
                background: linear-gradient(180deg, #FFF 0%, #05ACA4 100%);
            }
        }

        &:nth-child(4) {
            &::after {
                content: '';
                position: absolute;
                bottom: -0.278vw;
                left: 1.458vw;
                height: 4.583vw;
                width: 0.208vw;
                background-color: #05ACA4;
            }
        }
    }

    &__list-item-icon {
        width: 3.194vw;
        height: auto;
        flex-shrink: 0;
    }

    &__list-item-inner {
        display: grid;
        gap: 0.556vw;
    }

    &__list-item-number {
        color: #CDF4F2;
        font-size: 0.833vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__list-item-title {
        color: #fff;
        font-size: 1.875vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
    }

    &__inner {
        background-color: #fff;
        border-radius: 0;
        padding: 4.167vw 8.333vw;
    }
}

@media (max-width: 767px) {
    .career-form {
        padding: 7rem 0;
        position: static;

        &__decor {
            display: none;
        }

        &__header {
            display: block;
            margin-bottom: 2rem;
        }

        &__row {
            display: block;
            border-radius: 0;
        }

        &__scheme {
            background-image: url(/images/webp/step-bg-m.webp);
            padding: 3.4rem 2.6rem;
            border-radius: 2rem 2rem 0 0;
            display: block;
        }

        &__list-item {
            &:not(:last-child) {
                padding-bottom: 2.4rem;
            }

            &:nth-child(1) {
                &::after {
                    height: 4rem;
                }
            }

            &:nth-child(2) {
                &::after {
                    height: 2.9rem;
                }
            }

            &:nth-child(3) {
                &::after {
                    height: 3.4rem;
                }
            }

            &:nth-child(4) {
                &::after {
                    height: 3.4rem;
                }
            }
        }

        &__list-item-title {
            font-size: 1.8rem;
            line-height: 130%;
        }

        &__inner {
            border-radius: 0 0 2rem 2rem;
            padding: 2.6rem;
        }

        &__label {
            display: none;
        }
    }
}
