.career-hero {
    padding-top: 9.444vw;

    &__header {
        margin-bottom: 2.778vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        grid-template-columns: 59.167vw 1fr;
        gap: 1.667vw;
    }

    &__item {
        border-radius: 1.389vw;
        position: relative;
        overflow: hidden;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0;

        &:nth-child(1) {
            background: #0A2125;
            padding: 5.556vw 3.472vw;

            &::after {
                content: '';
                position: absolute;
                width: 19.861vw;
                height: 16.319vw;
                top: -9.653vw;
                left: auto;
                right: 5.972vw;
                background: #0593AB;
                filter: blur(117.16641998291016px);
                transform: translate(0, 0, 0);
            }

            .career-hero {
                &__item-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: auto;
                    max-width: 26.875vw;
                    z-index: 1;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__item-label {
                    border: 1px solid #757575;
                    color: #757575;
                }

                &__item-text {
                    color: #757575;

                    strong {
                        color: #FFF;
                    }
                }
            }
        }

        &:nth-child(2) {
            background: linear-gradient(180deg, #CAB97F 0%, #705F37 100%);
            padding: 0 1.875vw;

            .career-hero {
                &__item-img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(0);
                    width: 20.833vw;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__item-label {
                    color: rgba(255, 255, 255, 0.50);
                    border: 1px solid rgba(255, 255, 255, 0.50);
                }

                &__item-text {
                    color: #FFF;
                }

                &__item-title {
                    width: 100%;
                }
            }
        }
    }

    &__item-label {
        position: relative;
        z-index: 2;
        height: 1.944vw;
        padding: 0 1.007vw;
        border-radius: 3.472vw;
        color: #757575;
        font-size: 0.833vw;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1.389vw;
    }

    &__item-title {
        position: relative;
        z-index: 2;
        color: #FFF;
        font-size: 3.472vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 1.389vw;
        width: 70%;
    }

    &__item-text {
        position: relative;
        z-index: 2;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 26.736vw;

        strong {
            font-weight: 700;
        }
    }
}

@media (max-width: 767px) {
    .career-hero {
        padding-top: 10rem;

        &__header {
            margin-bottom: 2rem;
            display: block;
        }

        &__list {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
        }

        &__item {
            &:nth-child(1) {
                padding: 27.1rem 2.5rem 2.7rem;

                &::after {
                    top: -3.9rem;
                    left: 5.7rem;
                    width: 22.3397rem;
                    height: 18.3561rem;
                }

                .career-hero {
                    &__item-img {
                        width: 100%;
                        height: auto;
                        max-width: none;
                    }
                }
            }

            &:nth-child(2) {
                padding: 4rem 4rem 4rem 2.5rem;

                .career-hero {
                    &__item-img {
                        right: -2rem;
                        transform: rotate(10deg);
                        width: 75%;
                    }

                    &__item-title {
                        width: 70%;
                    }
                }
            }
        }

        &__item-label {
            margin-bottom: 1rem;
        }

        &__item-title {
            font-size: 2.7rem;
            margin-bottom: 1rem;
        }

        &__item-text {
            max-width: none;
        }

        &__label {
            display: none;
        }
    }
}
