.career-work {
    overflow: hidden;
    padding-top: 10.416vw;
    padding-bottom: 2.778vw;
    margin-bottom: -2.778vw;
    position: relative;
    z-index: 1;

    &__decor {
        position: absolute;
        width: 47.153vw;
        top: 2.917vw;
        right: 13.333vw;
        height: auto;
    }

    &__header {
        margin-bottom: 2.778vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.667vw;
        padding: 0;
        margin: 0;
        overflow: unset;
    }

    &__item {
        width: 100%;
        flex-shrink: 0;
        padding: 2.778vw;
        border-radius: 1.389vw;
        background-color: #fff;
        box-shadow: 0px 4px 36.8px 0px rgba(0, 0, 0, 0.05);
        opacity: 1;
    }

    &__item-title {
        display: flex;
        align-items: center;
        gap: 1.25vw;
        color: #282828;
        font-size: 1.875vw;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 1.389vw;

        img {
            width: 3.194vw;
            height: auto;
            flex-shrink: 0;
        }
    }

    &__item-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.875vw 1.736vw;
        color: #757575;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        li {
            display: flex;
            align-items: flex-start;
            gap: 0.486vw;

            img {
                width: 1.528vw;
                height: auto;
                flex-shrink: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .career-work {
        padding-top: 7rem;
        padding-bottom: 0;
        margin-bottom: 0;
        position: static;
        z-index: auto;

        &__decor {
            display: none;
        }

        &__header {
            margin-bottom: 2rem;
            display: block;
        }

        &__list {
            margin: 0 -2rem -4rem;
            padding: 0 2rem 4rem;
            display: flex;
            gap: 2rem;
            overflow-x: auto;
            grid-template-columns: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__item {
            width: 31.2rem;
            padding: 3rem 1.8rem;
            border-radius: 1.7rem;
        }

        &__item-title {
            gap: 1.6rem;
            font-size: 1.8rem;
            margin-bottom: 1.8rem;
        }

        &__item-list {
            display: grid;
            gap: 1.8rem;
            grid-template-columns: 1fr;
        }

        &__label {
            display: none;
        }
    }
}
