.hero-section {
    min-height: var(--locked-vh, 100vh);
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-bottom: 4.167vw;
    background: #01413B;

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 29.722vw;
        background: linear-gradient(180deg, rgba(0, 77, 70, 0.00) 0%, #00403A 74%);
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .container {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 67.917vw 19.583vw;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__inner {
        margin-bottom: 0.903vw;
    }

    &__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1.181vw;
        margin-bottom: 0.972vw;
        width: 80%;

        img {
            width: 3.194vw;
            height: auto;
        }

        p {
            color: #fff;
            font-size: 1.211vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            max-width: 41.264vw;
        }
    }

    &__title {
        color: #FFF;
        font-size: 5vw;
        font-style: normal;
        font-weight: 100;
        line-height: 119.092%;
        font-family: "Inter", sans-serif;
        font-variation-settings: normal;
        max-width: 100%;

        strong {
            font-weight: 700;
        }
    }

    &__button {
        height: 4.514vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.694vw;
        background-color: #fff;
        border-radius: 1.111vw;
        color: #282828;
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        animation: pulseAnimation 1.5s infinite;

        svg {
            width: 1.667vw;
            height: auto;
        }
    }
}

@media (max-width: 1023px) {
    .hero-section {
        padding-bottom: 7.813vw;

        &::after {
            height: 55.762vw;
        }

        .container {
            grid-template-columns: 1fr auto;
            max-width: 100%;
            overflow: hidden;
        }

        &__inner {
            margin-bottom: 1.66vw;
            max-width: 100%;
        }

        &__text {
            gap: 2.246vw;
            margin-bottom: 1.855vw;
            width: 100%;
            max-width: 100%;

            img {
                width: 4.883vw;
                flex-shrink: 0;
            }

            p {
                font-size: 1.563vw;
                flex: 1;
                min-width: 0;
            }
        }

        &__title {
            font-size: 6.543vw;
            width: 75%;
        }

        &__button {
            height: 8.496vw;
            gap: 1.27vw;
            border-radius: 2.051vw;
            font-size: 1.563vw;
            padding: 0 3.906vw;

            svg {
                width: 2.539vw;
            }
        }
    }
}

@media (max-width: 799px) {
    .hero-section {
        padding-bottom: 62.5px;

        &::after {
            height: 446px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
            grid-template-columns: 1fr auto;
            max-width: 100%;
            overflow: hidden;
        }

        &__inner {
            margin-bottom: 0;
            position: relative;
            z-index: 1;
            width: 100%;
            max-width: 100%;
        }

        &__text {
            gap: 18px;
            margin-bottom: 14.8px;
            width: 100%;
            max-width: 100%;

            img {
                width: 39px;
                flex-shrink: 0;
            }

            p {
                font-size: 12.5px;
                flex: 1;
                min-width: 400px;
            }
        }

        &__title {
            width: 400px;
            font-size: 52.3px;
        }

        &__button {
            position: relative;
            z-index: 2;
            margin-top: -4vw;
            align-self: flex-end;
            height: 68px;
            gap: 10.2px;
            border-radius: 16.4px;
            font-size: 12.5px;
            padding: 0 31.2px;

            svg {
                width: 20.3px;
            }
        }
    }
}

@media (max-width: 500px) {
    .hero-section {
        padding-bottom: 5vw;

        &__video {
            height: calc(var(--locked-vh, 100vh) - 31vw);
        }

        &__inner {
            margin-bottom: 2vw;
        }

        &::after {
            bottom: 30vw;
            height: 32vw;
        }

        .container {
            padding: 4vw;
            display: block;
        }

        &__text {
            flex-direction: column;
            gap: 2vw;
            margin-bottom: 2vw;

            img {
                width: 11.8vw;
            }

            p {
                font-size: 4vw;
                max-width: none;
                min-width: unset;
            }
        }

        &__title {
            width: 90%;
            font-size: 9.5vw;
            max-width: none;
        }

        &__button {
            height: 13.496vw;
            gap: 2.27vw;
            border-radius: 3.051vw;
            font-size: 4vw;
            padding: 0 3.906vw;
            animation: none;
            margin-top: 3vw;

            svg {
                width: 5.239vw;
            }
        }
    }
}
