.map-section {
    padding-top: 10.416vw;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 28.958vw;
        left: -36.667vw;
        width: 55.833vw;
        height: 45.069vw;
        border-radius: 55.833vw;
        background: rgba(0, 202, 190, 0.26);
        filter: blur(150px);
        transform: translateZ(0);
    }

    &::after {
        content: '';
        position: absolute;
        top: 15.833vw;
        right: 0;
        width: 38.611vw;
        height: 31.181vw;
        border-radius: 38.611vw;
        background: rgba(0, 202, 190, 0.26);
        filter: blur(150px);
        transform: translateZ(0);
        z-index: -1;
    }

    &__decor {
        position: absolute;
        top: 4.236vw;
        right: 14.861vw;
        width: 47.153vw;
        height: auto;
    }

    &__header {
        margin-bottom: 2.778vw;
        position: relative;
        display: grid;
        gap: 1.389vw;
    }

    &__label {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__title {
        font-size: 67px;

        img {
            width: 61px;
            height: auto;
        }
    }

    &__text {
        color: #757575;
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        max-width: 65vw;
    }

    &__inner {
        background-color: #fff;
        border-radius: 1.389vw;
        position: relative;
        padding: 5.347vw 2.604vw 4.861vw 6.944vw;
    }

    &__container {
        position: relative;
    }

    &__map {
        width: 100%;
        height: auto;
    }

    &__svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;

        path {
            fill: #01AFA5;
            transition: 0.3s;

            &.active {
                fill: #9A885D;
            }
        }
    }

    &__group {
        position: absolute;
        top: 10.278vw;
        left: 2.778vw;
        width: calc(100% - 5.556vw);
        z-index: 1;
    }

    &__panel {
        border-radius: 0.764vw;
        background: #FFF;
        box-shadow: 0px 7px 22.3px 0px rgba(0, 0, 0, 0.15);
        padding: 1.389vw 0.903vw;
        display: flex;
        align-items: center;
        gap: 0.903vw;
        margin-bottom: 0.972vw;
        margin-top: 0.778vw;
        min-height: 3.472vw;
        max-width: 18.056vw;

        svg {
            flex-shrink: 0;
            width: 2.986vw;
            height: auto;
        }
    }

    &__panel-value {
        color: #000;
        font-size: 1.389vw;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
    }

    &__scroll {
        position: relative;
        height: 21vw !important;
        padding-left: 2.222vw;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0.292vw;
            height: 100%;
            border-left: 0.069vw dashed rgba(0, 0, 0, 0.1);
        }
    }

    .swiper-container {
        width: 100%;
        height: 21vw !important;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: column;
    }

    .swiper-slide {
        height: 4.753vw !important;
        margin-bottom: 0 !important;
        padding: 0.5vw 0;
        transition: color 0.3s, font-size 0.3s !important;
    }

    .map-section__list-item {
        color: rgba(0, 0, 0, 0.10) !important;
        font-size: 1.2vw !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: 100% !important;
        
        &.middle {
            font-size: 1.8vw !important;
            color: #000 !important;
        }
    }

    &__center {
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: 0;
        width: 0.625vw;
        height: 0.625vw;
        background-color: #01A197;
        border-radius: 50%;
    }

    &__list {
        display: grid;
        gap: 2.778vw;
    }

    &__list-item {
        color: rgba(0, 0, 0, 0.10);
        font-size: 1.111vw;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;

        &.prev,
        &.next {
            color: rgba(0, 0, 0, 0.36);
        }

        &.middle {
            font-size: 1.667vw;
            color: #000;
        }
    }
}

@media (max-width: 1439px) {
    .map-section {
        &__title {
            font-size: 3.472vw;

            img {
                width: 3.194vw;
                height: auto;
            }
        }

        &__text {
            font-size: 1.111vw;
        }
    }
}

@media (max-width: 1023px) {
    .map-section {
        padding-top: 13vw;

        &::before {
            top: 556px;
            left: -703px;
            width: 1072px;
            height: 865px;
            border-radius: 1072px;
        }

        &::after {
            top: 304px;
            width: 741px;
            height: 598px;
            border-radius: 741px;
        }

        &__decor {
            display: none;
        }

        &__header {
            margin-bottom: 27px;
            gap: 13px;
        }

        &__label {
            display: none;
        }

        &__title {
            font-size: 60px;

            img {
                width: 61px;
            }
        }

        &__text {
            font-size: 19px;
            max-width: 1250px;
        }
    }

    html[lang="ru"] .map-section {
        &__title {
            font-size: 4.3vw;
        }
    }
}

@media (max-width: 799px) {
    .map-section {
        &__header {
            gap: 1.625vw;
            margin-bottom: 9vw;
        }

        &__title {
            font-size: 5.5vw;

            img {
                width: 7.625vw;
            }
        }

        &__text {
            font-size: 2.375vw;
            max-width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .map-section {
        &__inner {
            padding: 5.347vw 2.604vw 65vw;
        }

        &__group {
            position: relative;
            top: 0;
            width: 100%;
            transform: scale(3);
            transform-origin: top left;
        }

        &__panel {
            border-radius: 0.764vw;
            padding: 1.389vw 0.903vw;
            gap: 0.903vw;
            margin-bottom: 0.972vw;
            margin-top: 1.778vw;
            min-height: 3.472vw;
            max-width: 27vw;

            svg {
                width: 2.986vw;
            }
        }

        &__panel-value {
            font-size: 1.389vw;
        }

        &__scroll {
            height: 21vw !important;
            padding-left: 2.222vw;

            &::before {
                left: 0.292vw;
                border-left: 0.069vw dashed rgba(0, 0, 0, 0.1);
            }
        }

        .swiper-container {
            height: 21vw !important;
        }

        .swiper-slide {
            height: 4.75vw !important;
            padding: 0.5vw 0;
        }

        .map-section__list-item {
            font-size: 1.2vw !important;
            
            &.middle {
                font-size: 1.8vw !important;
            }
        }

        &__center {
            top: 53%;
            width: 0.625vw;
            height: 0.625vw;
        }
    }
}