@use '../cards/new-card.scss';

.news-catalog {
    padding-top: 9.444vw;
    padding-bottom: 9.410vw;

    &__header {
        margin-bottom: 2.778vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.389vw;
    }
}

@media (max-width: 767px) {
    .news-catalog {
        padding-top: 10rem;

        &__header {
            margin-bottom: 2rem;
            display: block;
        }

        &__list {
            grid-template-columns: 1fr;
        }

        &__label {
            display: none;
        }
    }
}
