.numbers-section {
    padding-top: 7rem;

    &__header {
        display: grid;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    &__text {
        color: #757575;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__list {
        display: grid;
        gap: 1rem;
    }

    &__item {
        min-height: 15.1rem;
        padding: 0 2.2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &__item-label {
        color: #fff;
        font-size: 1.2rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__item-title {
        color: #fff;
        font-size: 5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 100%;
        margin-bottom: 0.8rem;
    }

    &__item-text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        min-height: 4.8rem;
        justify-content: flex-end;
    }

    &__item-text {
        color: #fff;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0;

        &--sub {
            margin-top: 0.4rem;
        }
    }
}

@media (max-width: 767px) {
    .numbers-section {
        &__label {
            display: none;
        }

        &__item {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &:nth-child(1) {
                background-image: url(/images/webp/number-item-bg-1.webp);

                .numbers-section {
                    &__item-text {
                        max-width: 24.7rem;
                    }
                }
            }

            &:nth-child(2) {
                background-image: url(/images/webp/number-item-bg-2.webp);

                .numbers-section {
                    &__item-text {
                        max-width: 20.5rem;
                    }
                }
            }

            &:nth-child(3) {
                background-image: url(/images/webp/number-item-bg-3.webp);

                .numbers-section {
                    &__item-text {
                        max-width: 20.5rem;
                    }
                }
            }

            &:nth-child(4) {
                background-image: url(/images/webp/number-item-bg-4.webp);

                .numbers-section {
                    &__item-text {
                        max-width: 20.5rem;
                    }
                }
            }
        }

        &__item-img {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .numbers-section {
        &__decor {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .numbers-section {
        padding-top: 10rem;
        position: relative;

        &__decor {
            position: absolute;
            width: 67.9rem;
            bottom: -13.2rem;
            left: 26.2rem;
        }

        &__header {
            margin-bottom: 7rem;
            position: relative;
        }

        &__text {
            max-width: 90rem;
        }

        &__label {
            position: absolute;
            top: 0;
            right: 0;
        }

        &__list {
            grid-template-columns: repeat(4, 1fr);
            gap: 3.4rem;
        }

        &__item {
            min-height: 35.5rem;
            border-radius: 2rem;
            padding: 2.5rem;
            justify-content: flex-end;
            position: relative;
            display: flex;
            flex-direction: column;

            &:nth-child(1) {
                background: linear-gradient(180deg, #09BFB6 0%, #01645C 100%);

                &::after {
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(/images/webp/number-item-lines-1.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            &:nth-child(2) {
                background: linear-gradient(180deg, #CAB97F 0%, #705F37 100%);

                &::after {
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(/images/webp/number-item-lines-2.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            &:nth-child(3) {
                background: linear-gradient(180deg, #17494D 0%, #07181C 100%);

                &::after {
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(/images/webp/number-item-lines-3.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }

            &:nth-child(4) {
                background: linear-gradient(180deg, #D4E2E4 0%, #7096A4 100%);

                &::after {
                    content: '';
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(/images/webp/number-item-lines-4.webp);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }

        &__item-label {
            margin-bottom: 0.8rem;
        }

        &__item-title {
            margin-bottom: 0.8rem;
        }

        &__item-text-wrapper {
            min-height: 7.2rem;
        }

        &__item-img {
            position: absolute;
            top: -5rem;
            left: 50%;
            transform: translateX(-50%);
            width: 25rem;
            height: auto;
        }
    }
}
