@use '../cards/new-card.scss';

.post-section {
    padding-top: 9.444vw;
    padding-bottom: 4.861vw;

    .container {
        display: grid;
        grid-template-columns: 57.986vw 1fr;
        gap: 2.778vw;
        align-items: flex-start;
    }

    &__body {
        border-radius: 1.389vw;
        background: #FFF;
        box-shadow: 0px 4px 36.8px 0px rgba(0, 0, 0, 0.05);
    }

    &__cover {
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__inner {
        padding: 2.222vw 2.431vw 2.222vw;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.389vw;
    }

    &__date {
        color: #757575;
        font-size: 0.833vw;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }

    &__title {
        color: #000;
        font-size: 67px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 1.389vw;
    }

    &__text {
        display: grid;

        h2 {
            color: #000;
            font-size: 1.875vw;
            font-style: normal;
            font-weight: 700;
            line-height: 130%;
        }

        p {
            color: #757575;
            font-size: 1.111vw;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            strong {
                color: #000;
                font-weight: 700;
            }

            &:not(:last-child) {
                margin-bottom: 1.667vw;
            }

            &.accent {
                color: #05ACA4;
            }
        }
    }

    &__sidebar {
        display: grid;
        gap: 1.389vw;
    }

    .new-card {
        min-height: 36.875vw;
    }
}

@media (max-width: 1439px) {
    .post-section {
        &__title {
            font-size: 3.472vw;
        }
    }
}

@media (max-width: 1023px) {
    .post-section {
        padding-top: 181px;
        padding-bottom: 93px;

        .container {
            grid-template-columns: 1113px 1fr;
            gap: 53px;
        }

        &__inner {
            padding: 43px 47px 43px;
        }

        &__row {
            margin-bottom: 27px;
        }

        &__date {
            font-size: 16px;
        }

        &__title {
            font-size: 67px;
            margin-bottom: 27px;
        }

        &__text {
            h2 {
                font-size: 36px;
            }

            p {
                font-size: 21px;

                &:not(:last-child) {
                    margin-bottom: 32px;
                }
            }
        }

        &__sidebar {
            gap: 27px;
        }

        .new-card {
            min-height: 708px;
        }
    }
}

@media (max-width: 767px) {
    .post-section {
        padding-top: 10rem;

        .container {
            display: grid;
            gap: 2rem;
            grid-template-columns: 1fr;
        }

        &__body {
            box-shadow: 0px 4px 18.6px 0px rgba(110, 126, 159, 0.10);
        }

        &__inner {
            padding: 2rem 2.2rem 2rem;
        }

        &__row {
            margin-bottom: 1rem;
        }

        &__title {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        &__text {
            h2 {
                font-size: 1.8rem;
            }
        }

        .new-card {
            min-height: auto;
        }
    }
}
