@function toIndex($value) {
  $resValue: calc((var(--vw, 1vw) + var(--vh, 1vh)) * (#{$value} / var(--toIndex, 30)));

  @return $resValue;
}

:root {
  $mobile: calc(10 / 3.9 * 1vw);
  $desktop: calc(10 / 14.4 * 1vw);
  font-size: $mobile;

  @media (min-width: 768px) {
    font-size: $desktop;
  }
}