.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 8;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}

.menu {
    position: fixed;
    top: 1rem;
    left: 2rem;
    width: calc(100% - 4rem);
    background-color: #fff;
    box-shadow: 0px 4px 36.8px 0px rgba(0, 0, 0, 0.05);
    z-index: 9;
    border-radius: 1.7rem;
    height: 0;
    overflow: hidden;

    &__inner {
        padding: 10rem 3.5rem 4.3rem;
    }

    &__nav {
        display: grid;
        gap: 2.4rem;

        a {
            display: flex;
            align-items: center;
            gap: 1.7rem;
            color: #282828;
            text-align: center;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            padding-bottom: 2.4rem;
            border-bottom: 0.1rem solid #EBEBEB;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -1.7rem;
                left: -3.8rem;
                height: 4.7rem;
                width: 1.2rem;
                background-image: url(/images/active-menu-mob.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                opacity: 0;
                transition: opacity 0.3s;
            }

            svg {
                width: 1.6rem;
                height: auto;
            }
        }

        li {
            &.active {
                a {
                    color: #07C2B9;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }
}